<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>motto_0</key>
	<string>没有人不爱惜他的生命，但很少人珍视他的时间。 —— 梁实秋</string>
	<key>motto_1</key>
	<string>真理惟一可靠的标准就是永远自相符合。 —— 欧文</string>
	<key>motto_2</key>
	<string>时间是一切财富中最宝贵的财富。 —— 德奥弗拉斯多</string>
	<key>motto_3</key>
	<string>世界上一成不变的东西，只有“任何事物都是在不断变化的”这条真理。 —— 斯里兰卡</string>
	<key>motto_4</key>
	<string>过放荡不羁的生活，容易得像顺水推舟，但是要结识良朋益友，却难如登天。 —— 巴尔扎克</string>
	<key>motto_5</key>
	<string>爱情原如树叶一样，在人忽视里绿了，在忍耐里露出蓓蕾。 —— 何其芳</string>
	<key>motto_6</key>
	<string>友谊是一棵可以庇荫的树。 —— 柯尔律治</string>
</dict>
</plist>
