<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Daily.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9BA508E11C8E907C005BA027</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BA508FD1C8E907C005BA027</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BA509081C8E907C005BA027</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
